body{
    margin: 0 auto;
    padding: 0;
    font-size: 2em;
    min-height: 100%;
    font-family: 'Krona One', sans-serif;
    font-size: 1em;
}

.phone-container {
    height: 100vh;
}

.grid-container {
    display: grid;
    height: 100vh;
    background-color: black;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    align-content: stretch;
    
}

.grid-item {
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.item-cancel {
    background-color: peru;
    grid-row-start: 1;
    grid-row-end: 4;
    font-size: 1em;
    margin: 15px 0px;
    border-radius: 0px 25px 25px 0px;
}

.item-general {
    margin: 15px;
    border-radius: 15px 50px;
}

.item-password {
    background-color: coral;
}

.item-settings {
    background-color: cornflowerblue;
}